@import '../../_variables.scss';

.Timeline {
  .alert-dot {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    position: absolute;
    left: calc(50% - 4px);
    top: calc(50% - 4px);
    margin-left: 6px;
    margin-top: -6px;
    background-color: var(--cGreen);
  }

  .timeline-header-button {
    align-self: stretch;
    text-align: center;
    width: var(--__panel-heading-height);
    height: var(--__panel-heading-height);
    margin: calc(-1 * var(--panel-heading-height-padding)) 0;
    margin-right: calc(-1 * var(--__panel-heading-gap));

    > button {
      box-sizing: border-box;
      padding: calc(1 * var(--panel-heading-height-padding)) 0;
      height: 100%;
      width: 100%;
      text-align: center;

      svg {
        font-size: 1.2em;
      }
    }
  }

  .timeline-header-icon {
    align-self: stretch;
    text-align: center;
    width: var(--__panel-heading-height);
    margin-right: calc(-1 * var(--__panel-heading-gap));

    svg {
      font-size: 1.2em;
    }
  }

  .loadmore-button {
    position: relative
  }

  &.-blocked {
    cursor: progress;
  }

  .conversation-heading {
    top: calc(var(--__panel-heading-height) * var(--currentPanelStack, 2));
    z-index: 2;
  }

  &.-nonpanel {
    .timeline-heading {
      text-align: center;
      line-height: 2.75em;
      padding: 0 0.5em;
    }

    .timeline-heading {
      .button-default, .alert {
        line-height: 2em;
        width: 100%;
      }
    }
  }
}
